apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: rest-api
  namespace: kalmar-digital-twin
  labels:
    app: rest-api
    tier: backend
    project: kalmar-digital-twin
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: rest-api
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
