apiVersion: v1
kind: Service
metadata:
  name: rest-api
  namespace: kalmar-digital-twin
  labels:
    app: rest-api
    tier: backend
    project: kalmar-digital-twin
spec:
  type: ClusterIP
  selector:
    app: rest-api
    tier: backend
  ports:
    - name: http
      port: 80
      targetPort: 8080
