[submodule "algorithm-processor"]
	path = algorithm-processor
	url = git@gitlab.lnu.se:2dv013/student/team-2025-06-smart-energy/algorithm-processor.git
[submodule "data-generator"]
	path = data-generator
	url = git@gitlab.lnu.se:2dv013/student/team-2025-06-smart-energy/data-generator.git
[submodule "infrastructure-k8s"]
	path = infrastructure-k8s
	url = git@gitlab.lnu.se:2dv013/student/team-2025-06-smart-energy/digital-twin.git
[submodule "rest-api"]
	path = rest-api
	url = git@gitlab.lnu.se:2dv013/student/team-2025-06-smart-energy/rest-api.git
[submodule "visualization"]
	path = visualization
	url = git@gitlab.lnu.se:2dv013/student/team-2025-06-smart-energy/visualization.git
