apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: timescaledb
  namespace: kalmar-digital-twin
  labels:
    app: timescaledb
    component: database
    project: kalmar-digital-twin
spec:
  serviceName: timescaledb
  replicas: 1
  selector:
    matchLabels:
      app: timescaledb
      component: database
  template:
    metadata:
      labels:
        app: timescaledb
        component: database
        project: kalmar-digital-twin
    spec:
      containers:
        - name: timescaledb
          image: timescale/timescaledb:2.19.3-pg14 # pinned for reproducibility
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: timescaledb-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: timescaledb-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: timescaledb-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: timescaledb-data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: timescaledb-data
        labels:
          app: timescaledb
          component: database
          project: kalmar-digital-twin
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "local-path"
        resources:
          requests:
            storage: 10Gi
