apiVersion: v1
kind: Service
metadata:
  name: kafka-nodeport
  namespace: kalmar-digital-twin
  labels:
    app: kafka
    component: broker
    project: kalmar-digital-twin
spec:
  type: NodePort
  selector:
    app: kafka
    component: broker
  ports:
    - name: kafka
      port: 9092
      targetPort: 30092
      nodePort: 30092
