apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: kalmar-digital-twin
  labels:
    app: kafka
    component: broker
    project: kalmar-digital-twin
spec:
  clusterIP: None # Headless for StatefulSet peer discovery.
  selector:
    app: kafka
    component: broker
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
    - name: controller
      port: 9093
      targetPort: 9093
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-clusterip
  namespace: kalmar-digital-twin
  labels:
    app: kafka
    component: broker
    project: kalmar-digital-twin
spec:
  type: ClusterIP
  selector:
    app: kafka
    component: broker
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
