apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: kalmar-digital-twin
  labels:
    app: redis
    component: cache
    project: kalmar-digital-twin
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
      component: cache
  template:
    metadata:
      labels:
        app: redis
        component: cache
        project: kalmar-digital-twin
    spec:
      containers:
        - name: redis
          image: redis:7.2-alpine
          args:
            - "--appendonly"
            - "yes"
          ports:
            - containerPort: 6379
              name: redis
          volumeMounts:
            - name: redis-data
              mountPath: /data
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
  volumeClaimTemplates:
    - metadata:
        name: redis-data
        labels:
          app: redis
          component: cache
          project: kalmar-digital-twin
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "local-path"
        resources:
          requests:
            storage: 2Gi
