apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: kalmar-digital-twin
  labels:
    app: redis
    component: cache
    project: kalmar-digital-twin
spec:
  type: ClusterIP
  selector:
    app: redis
    component: cache
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
