apiVersion: v1
kind: Service
metadata:
  name: algorithm-processor
  namespace: kalmar-digital-twin
  labels:
    app: algorithm-processor
    tier: backend
    project: kalmar-digital-twin
spec:
  type: ClusterIP
  selector:
    app: algorithm-processor
    tier: backend
  ports:
    - name: http
      port: 8080
      targetPort: 8080
